/E-HealthCare/nbproject/private/
/E-HealthCare/build/
/E-HealthCare/dist/
/WebApplication1/nbproject/private/
/JavaApplication183/nbproject/private/
/JavaApplication183/build/
/Client/nbproject/private/
/Server/nbproject/private/
/Server/build/
/Client/build/