<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>credentialServlet</servlet-name>
        <servlet-class>com.ehealthcare.web.credentialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAddressServlet</servlet-name>
        <servlet-class>com.ehealthcare.web.addAddressServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>credentialServlet</servlet-name>
        <url-pattern>/credentialServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAddressServlet</servlet-name>
        <url-pattern>/addAddressServlet.do</url-pattern>
    </servlet-mapping>
</web-app>
